body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1,h2{
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #2b6cb0;
    color: white;
}

td {
    background-color: #fff;
}

img {
    max-width: 100px;
    height: auto;
    border-radius: 8px;
}

h2 + table {
    background-color: #fce8e6;
    border: 1px solid #e53e3e;
}

h2 + table th {
    background-color: #e53e3e;
    color: white;
}

p {
    text-align: center;
    color: #718096;
    font-size: 16px;
}

h2 + table {
    background-color: red;
    border: 1px solid red;
}

h2 + table th {
    background-color: red;
    color: #2d3748;
}

button {
    background-color: #3182ce;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2b6cb0;
}
