.items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
}

.item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form input[type="text"]{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 3.5%;
}

form button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

.thumbnail {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
    max-width: 100px;
}

.tru-product-card-title {
    margin-top: 10px;
    color: #212427;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    align-self: center;
}

.tru-product-card-info {
    display: flex;
    justify-content: space-between;
}

.tru-product-card-price,
.item-stock {
    font-size: 14px;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    width: 48%;
    text-align: left;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tru-product-card {
    border: 1px solid #DDD;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    background: #ffffff;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tru-product-card-image {
    display: flex;
    height: auto;
    align-self: center;
}
